@model Book

<form method="post">
    <div class="p-3 mt-5">
        <h2 class="text-danger">Are you sure you want to delete the <strong><u>'@Model.Title'</u></strong> book.</h2>
    </div>
    <div class="mb-3">
        <label asp-for="Title" class="p-0"></label>
        <input asp-for="Title" disabled class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="p-0"></label>
        <input asp-for="Description" disabled class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Author" class="p-0"></label>
        <input asp-for="Author" disabled class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="price" class="p-0"></label>
        <input asp-for="price" disabled class="form-control" />
        <span asp-validation-for="price" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger" style="width:250px">Delete</button>
    <a asp-controller="Book" asp-action="Index" type="button" class="btn btn-success" style="width:250px">Cancel</a>

</form>
