@model List<BookType>

@if (TempData["succses"] != null)
{
    <div id="successMessage" class="alert alert-dismissible alert-success">
        <strong>Well done! </strong>@TempData["succses"]
    </div>
}

<script>
    setTimeout(function () {
        document.getElementById("successMessage").style.display = "none";
    }, 2000);
</script>

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Book genres</h1>
        </div>

    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Genre</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var _bookType in Model)
            {
                <tr>
                    <td>@_bookType.type</td>
                    <td><a asp-controller="BookType" asp-action="Edit" asp-route-ID="@_bookType.ID" type="button" class="btn btn-info d-block">Edit</a></td>
                    <td><a asp-controller="BookType" asp-action="Delete" asp-route-ID="@_bookType.ID" type="button" class="btn btn-danger d-block">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="BookType" asp-action="Add" class="btn btn-light type" type="button">Add Genre</a>
        </div>
    </div>
</div>
